{% extends "@Contao/content_element/hyperlink.html.twig" %}

{% if data.aria_labeledby_text|default is not empty %}
  {% set aria_labeledby_id = 'aria_labeled_by__' ~ data.id %}
  {% set link_attributes = attrs(link_attributes|default).mergeWith({ 'aria-labeledby': aria_labeledby_id }) %}
{%- endif -%}

{% block content %}
  {{ parent() }}
  {% if data.aria_labeledby_text|default is not empty %}
  <span id="{{ aria_labeledby_id }}" class="visually-hidden">{{ data.aria_labeledby_text|default }}</span>
  {% endif %}
{%  endblock %}